*{
    box-sizing: border-box;
}

body{
    background-color:#e6eefd;
    font-family:  Helvetica, Arial, sans-serif;
    margin: 0;
}

header{
    display:flex;
    flex-direction:row;    
    justify-content:space-between;
    padding: 30px;
}
#high-score-link{
    color:blue;
    text-decoration:underline blue;
}

#high-score-link:hover{
    cursor:pointer;
}

.title{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:20px;
    height:600px;
}
/*main title box*/
.title h1{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    background-color: #2b457e ;
    padding: 30px;
    color: #cad9f8;
    border: 3px solid #a0b3dd;
    border-radius: 5px;
    text-align: center;
}

/*main title text*/
.title ul li {
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
}
/*main page instructions*/
#instructions{
    color:#1e3361;
}
/*container (answers/instructions*/
.container {
    min-width:350px;
    max-width: 600px;
    font-size:20px;
    font-weight:550;
    text-align:left;
    margin-top: 20px;
    background-color:#a0b3dd;
    padding:20px;
    border:6px solid #cad9f8;
}

.answers{
    display:flex;
    flex-direction: column;
}

button{
    display:flex;
    align-self:center;
    text-align:center;
    padding:10px 30px;
    margin-top:20px;
    max-width: 200px;
    font-weight:bold;
    background-color: #2b457e;
    color:white;
    border: 3px solid #a0b3dd;
    border-radius: 10px;
}

button:hover{
    cursor:pointer;
    background-color: #405c97;
    color:white;
    border: 2px solid white;     
}

button li{
    color: white;
}
 
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;

}
/*final page submit button*/
#submitBtn{
    display:flex;
    align-self:center;
    text-align:center;
    padding:10px 30px;
    margin-top:20px;
    max-width: 200px;
    font-weight:bold;
    background-color: #2b457e;
    color:white;
    border: 3px solid #a0b3dd;
    border-radius: 10px;
    font-size:20px;
}

#submitBtn:hover{
    cursor:pointer;
    background-color: #405c97;
    color:white;
    border: 2px solid white; 
}
/* high score page user scores*/
#user-list{
    display:flex;
    flex-direction: column;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top:10px;
    padding-left:20px;
    background-color: #a0b3dd;
    border:3px solid #2b457e;
    margin: 10px 50px 10px 50px;
}



