*{
    box-sizing: border-box;
}

body{
    background-color:#e6eefd;
    font-family:  Helvetica, Arial, sans-serif;
    margin: 0;
}

header{
    display:flex;
    flex-direction:row;    
    justify-content:space-between;
    padding: 30px;
}

.title{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    margin-top:20px;
    padding:20px;
    height:600px;
}

.title h1{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    background-color: #2b457e ;
    padding: 30px;
    color: #cad9f8;
    border: 3px solid #a0b3dd;
    border-radius: 5px;
    text-align: center;
}



.title ul li {
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
}

#instructions{
    color:#1e3361;
}

.container {
    max-width: 600px;
    font-size:20px;
    font-weight:550;
    text-align:left;
    margin-top: 20px;
    background-color:#a0b3dd;
    padding:20px;
    border:6px solid #cad9f8;
}

.answers{
    display:flex;
    flex-direction: column;
}

button{
    display:flex;
    align-self:center;
    text-align:center;
    padding:10px 30px;
    margin-top:20px;
    max-width: 200px;
    font-weight:bold;
    background-color: #2b457e;
    color:white;
    border: 3px solid #a0b3dd;
    border-radius: 10px;
}

button:hover{
    cursor:pointer;
    background-color: #405c97;
    color:white;
    border: 2px solid white;     
}

button li{
    color: white;
}

ul button{
    padding: ;
}